<html>
    <head>
        <title>
            Spin Wheel
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    </head>
    <body>
        <div class="wheel" id="wheel-container">
            {% for user in users %}
            <div class="wheel-section" data-angle="{{ 360 / users|length }}" style="background-color: {{ user.color }};"></div>
            {% endfor %}
        </div>
        <button class="rotatewheel" onclick="magicWheel()">Rotate</button>    

        <script>
            function magicWheel() {
                var wheelContainer = document.getElementById('wheel-container');
                var sections = document.getElementsByClassName('wheel-section');

                var totalAngle = 0;
                for (var i = 0; i < sections.length; i++) {
                    totalAngle += parseInt(sections[i].getAttribute('data-angle'));
                }

                var currentAngle = 0;
                var rotations = 5; // Number of rotations
                var targetAngle = currentAngle + rotations * 360 + Math.floor(Math.random() * totalAngle); // Random target within one full rotation

                // Duration of the spin in milliseconds
                var duration = 5000;

                var startTime = null;

                function rotateWheel(timestamp) {
                    if (!startTime) {
                        startTime = timestamp;
                    }

                    var progress = timestamp - startTime;
                    var percentage = Math.min(progress / duration, 1);

                    currentAngle = easeOutCubic(percentage) * targetAngle;

                    for (var i = 0; i < sections.length; i++) {
                        var angle = parseInt(sections[i].getAttribute('data-angle'));
                        sections[i].style.transform = 'rotate(' + currentAngle + 'deg)';
                    }

                    if (percentage < 1) {
                        requestAnimationFrame(rotateWheel);
                    } else {
                        startTime = null;
                    }
                }

                requestAnimationFrame(rotateWheel);
            }

            function easeOutCubic(t) {
                return (--t) * t * t + 1;
            }

        </script>
    </body>
</html>