<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body>
<div class="image-container">
    <div class="texthead">
        Embrace the Spirit of Giving: Unwrap Joy, Share Smiles, and Discover the Magic of <br> <span>Secret Santa Exchange</span> 🎁✨
    </div>
    <div class="login">
        <p>
            Be a Secret Santa! <br> Spread Joy, <br> Share Surprises! 🎁

        </p>
    </div>
    
    <div class="register">
        <div class="wrapper" id="loginWrapper">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="post" action="{{ url_for('login') }}">
                <h1>Welcome to the North Pole</h1>
                <div class="input-box">
                    <input type="text" name="name" placeholder="Username" required>
                    <i class='bx bxs-user-circle'></i>
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="register-link">
                    <p>Don't have an account? <a href="#" id="loginLink" onclick="toggleForms()">Create one</a></p>
                </div>
            </form>
        </div>

        <div class="wrapper" id="registerWrapper" style="display: none;">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                
                    {% for message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <form method="post" action="{{ url_for('register') }}">
            
            

            <div class="input-box">
                <input type="Text" name="name" placeholder="Username" required>
                <i class='bx bxs-user-circle'></i>
            </div>

            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <!-- 
            <div class="remember-forget">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot password?</a>
            </div> -->

            <button type="submit" class="btn">Sign Up</button>

            <div class="register-link">
                <p>Have an account? <a href="#" id="registerLink" onclick="toggleForms()">Login here</a></p>

            </div>
        </form>
        </div>
    </div>
    <div class="aesthetic-text">Unwrap the Magic: <span>Log in</span> to Your Secret Santa Account or <span>Join</span> the Festivities by Signing Up Now <span>!</span></div>
    <img src="/static/img/PinClipart.com_santa-clipart-black-and_97181.png" alt="Results Image" class="bottom-right-image">
</div>

</body>
<script>
    function toggleForms() {
        var loginWrapper = document.getElementById('loginWrapper');
        var registerWrapper = document.getElementById('registerWrapper');

        // Toggle the display property of the loginWrapper and registerWrapper
        if (loginWrapper.style.display === 'none' || loginWrapper.style.display === '') {
            loginWrapper.style.display = 'block';
            registerWrapper.style.display = 'none';
            animateFadeInOut(loginWrapper, 1000);
        } else {
            loginWrapper.style.display = 'none';
            registerWrapper.style.display = 'block';
            animateFadeInOut(registerWrapper, 1000);
            
        }
        
        
    }
    function animateFadeInOut(element, duration) {
    var start = null;

    function step(timestamp) {
        if (!start) start = timestamp;

        var progress = timestamp - start;
        element.style.opacity = Math.min(progress / duration, 1);

        if (progress < duration) {
            window.requestAnimationFrame(step);
        } else {
            // Reset opacity to 1 when the animation is complete
            element.style.opacity = 1;
        }
    }

    // Start the animation
    window.requestAnimationFrame(step);
}
</script>


</html>

