{% extends 'base.html' %}
{% block title %}
Popup Page
{% endblock %}

{% block content %}
<h1>Welcome to the North Pole</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
    Register as Santa
</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
    Login as Santa
</button>

<!-- Register Modal -->
<div class="modal" id="registerModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Become a Santa</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form method="post" action="{{ url_for('signin') }}" onsubmit="return validateForm('register')">
                    <input type="text" name="username" placeholder="Username" required><br>
                    <input type="password" name="password" id="registerPassword" placeholder="Password" required><br>
                    <input type="password" name="confirm_password" id="registerConfirmPassword" placeholder="Confirm Password" required><br>
                    <input type="submit" value="Register as Santa">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Login as Santa</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form method="post" action="{{ url_for('login') }}" onsubmit="return validateForm('login')">
                    <input type="text" name="username" placeholder="Username" required><br>
                    <input type="password" name="password" id="loginPassword" placeholder="Password" required><br>
                    <input type="submit" value="Login as Santa">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function validateForm(formType) {
        var passwordField = formType === 'register' ? 'registerPassword' : 'loginPassword';
        var confirmPasswordField = formType === 'register' ? 'registerConfirmPassword' : '';

        var password = document.getElementById(passwordField).value; 
        var confirmPassword = confirmPasswordField ? document.getElementById(confirmPasswordField).value : '';

        if (confirmPasswordField && password !== confirmPassword){
            alert("Passwords do not match");
            return false;
        }
        return true;
    }
</script>
{% endblock %}
