{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<div class="container">
    <h1>Become a Santa</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

        <form method="post" action="{{ url_for('signin') }}">
            <input type="text" name="username" placeholder="username" required><br>
            <input type="password" name="password" id = "password" placeholder="Password" required><br>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required><br>
            <input type="submit" value="Register as Santa">
        </form>

{% endblock %}